.post_image {
  width: 100%;
  height: 20rem;
  object-fit: contain;
}

.post_header {
  display: flex;
  align-items: center;
}

.view_detail_btn {
  cursor: pointer;
  margin: 1rem 0;
}

.view_detail_btn {
  color: rgb(122, 122, 122);
  margin: 1rem 0;
}
