.auth_error {
  color: #ff00ff;
  text-align: center;
  margin: 1rem;
}
.auth_form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
.auth_progress {
  margin: 2rem;
}
