.auth_title {
  font-family: "Playball", cursive;
  font-weight: normal;
  text-align: center;
}
.auth_error {
  color: #ff00ff;
  text-align: center;
  margin: 10px;
}
.auth_form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.auth_progress {
  margin: 2rem;
}
