.first_comment_box {
  display: flex;
  height: 2rem;
  align-items: baseline;
}

.comment_nickname {
  margin: 0.1rem;
  padding-top: 0.3rem;
  padding-right: 0.3rem;
}

.comment_text {
  width: 10rem;
  margin: 0;
  background-color: "red";
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
