.header_title {
  font-family: "Playball", cursive;
  text-decoration: none;
  text-align: center;
  color: black;
  padding: 0 3rem;
  flex: 1;
}

.header_nav {
  padding: 2rem;
  display: flex;
  justify-content: center;
  overflow-wrap: auto;
}
.header_btn {
  background-color: transparent;
  color: gray;
  width: 4rem;
  height: 4rem;
  margin-top: 0.6rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.header_progress {
  position: fixed;
  top: 1rem;
  z-index: 5;
}
