.header_title {
  font-family: "Playball", cursive;
  text-decoration: none;
  text-align: center;
  color: black;
  padding: 0 3rem;
  flex: 1;
}

.header_nav {
  background-color: white;
  padding: 2rem 15rem;
  display: flex;
  justify-content: center;
}
.header_btn {
  background-color: transparent;
  /* justify-content: center;
  text-align: center; */
  /* background-color: red; */
  color: gray;
  width: 4rem;
  height: 4rem;
  /* font-size: 2rem; */
  margin-top: 0.6rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.core_progress {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
