.header_title {
  font-family: "Playball", cursive;
  text-decoration: none;
  text-align: center;
  color: black;
  padding: 0 3rem;
}

.header_nav {
  background-color: white;
  padding: 2rem 15rem;
  display: flex;
  justify-content: center;
}
.header_btn {
  background-color: transparent;
  justify-content: center;
  text-align: center;
  color: gray;
  padding: 1rem;
  font-size: 32px;
  border: none;
  outline: none;
  cursor: pointer;
}

.core_progress {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
